body {
    background-color: #ebe6d1;
    align-items: center;
}
.Buy {
    padding: 50px;
    display: inline;
    text-align: center;
    font-family: 'Heebo';
    flex-wrap: wrap;
}
.product {
    margin: auto auto;
}
.title {
    margin: auto;
}