.dish-container {
    text-align: center;
    padding: 3px 8px;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 10px 5px;
}
.desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cost {
    text-align: center;
    font-weight: bold;
}

.descriptions {
    align-items: center;
}